#moonlight {
    align-content: center;
}

.movietitle {
    margin-inline-start: 60px;
    color: white;
}

.movieinfo {
    margin-inline-start: 60px;
    font-size: 19px;
    font-weight: bold;
    color: brown
}

#watchmoonlight {
    margin-inline-start: 60px;
    font-size: 20px;
}

.moviereview {
    margin-top: 100px;
    margin-inline-start: 0px;
    margin-bottom: 20px;
}

.card-title{
    font-family: 'Marcellus', serif;
    font-weight: bold;
    font-size: 30px;
    color: brown;
}

.card-text {
    size: 30px;
    color: brown
}

.card {
    margin-right: 90px;
    color: blanchedalmond
}

footer {
    font-size: 12px;
    text-align: center;
    color: white;
}
